{
    default_sni {$PHOTOHEARTH_DOMAIN:photos.home.arpa}
}

{$PHOTOHEARTH_DOMAIN:photos.home.arpa} {
    tls internal
    encode zstd gzip
    request_body {
        max_size 40MB
    }
    reverse_proxy app:8000
}
